/* Apply base styles to the entire page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin-bottom: 446;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Center children vertically */
}

/* Style the header with centered text */
header {
    text-align: center;
    margin-top: 10px; /* Adjusted margin for better spacing */
}

/* Define styles for the main game area */
.game-area {
    width: 75%;
    margin-top: 5%; /* Adjusted margin for better spacing */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the container for game buttons */
.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
    justify-content: center;
    margin-top: 20px;
}

/* Style the Rock, Paper, Scissors game buttons */
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Add a hover effect to the game buttons */
button:hover {
    background-color: #2980b9;
}

/* Define styles for game scores */
.scores {
    font-size: 2vw; 
    margin-bottom: 20px;
}

/* Style the player and computer images */
#player-image,
#computer-image {
    max-width: 100%; /* Ensure images don't stretch too much */
    max-height: 100%;
    margin-top: 10px;
}

/* Style the container for scores with spacing between elements */
.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

/* Define styles for player and computer sections */
.player,
.computer {
    display: flex;
    flex-direction: column-reverse; /* Align content in reverse order for smaller screens */
    align-items: center;
    margin-top: 10px; /* Adjusted margin for better spacing */
    width: 58%; /* Set initial width for smaller screens */
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Apply responsive styles for larger screens using a media query*/
@media only screen and (min-width: 600px) {
    .game-area {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Adjust width for player and computer sections on larger screens*/
    .player,
    .computer {
        width: 55%;
    }
}
